li {
    overflow: hidden;
    background-color: goldenrod;
    float: left;
}






 li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
}

.bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
}
.bot{
    overflow: hidden;
    background-color: black;
    color: white;
    float: left;
}
.bot a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.bott{
    overflow: hidden;
    background-color: black;
    color: black;
    float: inline-start;
}




.bott a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    
img{
    width: 500px;
    height: 500px;
}

body{
    background-image: ;
}

