body{
    background-color: black;
}


li{
    overflow: hidden;
    text-decoration: none;
    
}

li a{
   display: inline-block;
    text-decoration: none;
    list-style: none;
    color: white;
    justify-content: space-between;
    margin-top: 100px;
    font-size: 40px;



}
li:hover{
    font-size: 60px;
    
}
img{
   
    justify-content: right;
}